VITE_CLERK_PUBLISHABLE_KEY=pk_test_bmljZS1zbmFwcGVyLTQ2LmNsZXJrLmFjY291bnRzLmRldiQ
VITE_BASE_URL=http://localhost:3000
VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51U4ey73nQfxGbLTIytyT8hABNjV5w0qao3yJdZoBuJh2bxMohpnCZVVsZqoJn80Di7CB4MSSGozQnv9yfjhId2Vz0068Dgxkdc
